*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Colors */
  --navy-950: hsl(233, 47%, 7%);
  --blue-950: hsl(244, 37%, 16%);
  --purple-500: hsl(277, 64%, 61%);

  --white: hsl(0, 0%, 100%);
  --white-2: hsla(0, 0%, 100%, 0.75);
  --white-3: hsla(0, 0%, 100%, 0.6);

  /* Fonts */
  --ff-primary: "Inter", sans-serif;
  --ff-secondary: "Lexend Deca", sans-serif;

  --fs-base: 15px;
  --fs-heading: 1.5rem;
  --fs-text: 0.9rem;
  --fs-stats-number: 1.1rem;
  --fs-stats-label: 0.7rem;

  --fw-regular: 400;
  --fw-bold: 700;

  /* Spacings */
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;

  /* Border radius */
  --border-radius-sm: 10px;

  /* Box shadows */
  --shadow-subtle: 2px 2px 8px rgba(0, 0, 0, 0.15);
}
html {
  font-size: var(--fs-base);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-block: var(--spacing-lg);
  background-color: var(--navy-950);
}
.card {
  width: min(20rem, 90vw);
  border-radius: var(--border-radius-sm);
  background-color: var(--blue-950);
  box-shadow: var(--shadow-subtle);
  overflow: hidden;
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-lg);
  padding: var(--spacing-lg);
  font-family: var(--ff-primary);
  text-align: center;
  color: var(--white);
}
.card-picture {
  display: block;
  position: relative;
}
.card-picture::after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  background: var(--purple-500);
  mix-blend-mode: multiply;
  opacity: 0.8;
}
.card-picture img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}
.card-title {
  font-family: var(--ff-secondary);
  font-size: var(--fs-heading);
  font-weight: var(--fw-bold);
}
.card-title span {
  color: var(--purple-500);
}
.card-description {
  font-size: var(--fs-text);
  font-weight: var(--fw-regular);
  color: var(--white-2);
  line-height: 1.5;
}
.stats-list {
  list-style: none;
  text-align: center;
}
.stats-list li {
  margin-block-start: 1rem;
}
.stats-number {
  display: block;
  font-size: var(--fs-stats-number);
  font-weight: var(--fw-bold);
  line-height: 1.5;
}
.stats-label {
  font-size: var(--fs-stats-label);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--white-3);
}
@media (min-width: 48rem) {
  .card {
    display: flex;
    flex-direction: row-reverse;
    width: min(52rem, 90vw);
  }
  .card-content {
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacing-md);
    text-align: left;
    padding-inline-start: var(--spacing-xl);
  }
  .card-title {
    max-inline-size: 20ch;
  }
  .card-description {
    max-inline-size: 60ch;
  }
  .stats-list {
    display: flex;
    gap: var(--spacing-lg);
    text-align: left;
  }
}
